.footer {
    min-height: 425px;
    background: #1b1b1b;
    padding: 49px 25px;
    color: #ddd;
    font-size: 0.95rem;

    ul {
        padding: 0;
    }
      
     hr {
         border: 1px solid #fff;
    }

    p {
        margin-right: 10px;
    }
      
    .brand-info {

        img {
            margin: 0 0 25px;
            width: 200px;
            height: 85px;            
        }
    }
      
    .footer-col-2 {

        a {
            padding: 0;
            border-right: 1px solid #aaaaaa60;
            color: #ddd;
            margin: 0;
            padding: 5px 15px 5px 0;
            text-decoration: none;
            width: 100%;
        }
    }
    $colors: #007bff, #6610f2, #6f42c1, #e83e8c, #dc3545, #fd7e14, #ffc107, #28a745, #20c997, #17a2b8, #68cc00, #872487, #039be5, #fd5a27, #39CCCC, #ffba10,#3D9970, #ff4c00, #9d5973, #70ACB5, #FF4136;  // How often you want the pattern to repeat.
    // Warning: a higher number outputs more CSS.
    $number-of-items: length($colors);
    .footer-col-2 {
        @for $i from 1 through $number-of-items {
            a:nth-child(#{length($colors)}n+#{$i}) {
                @include transition(all, 0.3s);
                $random-color: nth($colors, $i);
                border-right: 3px solid $random-color;
                margin: 2px 0;

                &:hover {
                    background-color: $random-color;
                    padding-right: 20px;
                }
            }
        }
    }
      
    .footer-col-3 {
        img {
            width: 105px;
            height: 65px;
        }

        li {
            padding: 0;

            div {
                margin-right: 8px;
            }
        }

        ul hr {
            border: 0.5px solid #fff;
        }

        a {
            &:hover {
                color:#fff;
                @include transition(all, 0.3s);
            }
        }
    }
      
    .blockquote-footer::before {
        display: none;
        font-size: 13px;
    }
}

.secondary-footer {
    background-color: #000;
    min-height: 32px;
    font-size: 1rem;

    .social-media {
        padding: 6px 0;

        span {
            color: #ddd;
            margin-left: 5px;
            font-size: 0.9em;
        }

        .facebook {
            i {
                padding: 9px 12.875px;
                background-color: #ffffff14;
                color: #fff;
                border-radius: 50%;
            }
            
            &:hover i {
                background-color: #fff;
                color: #3a62b8;
                transform: rotate(360deg);
                @include transition(all, 0.4s);
            }
        }
        
        .twitter {

            i {
                padding: 9px 9px;
                background-color: #ffffff14;
                color: #fff;
                border-radius: 50%;
            }

            &:hover i {
                color: #00aced;
                background-color: #fff;
                transform: rotate(360deg);
                @include transition(all, 0.4s);
            }
        }
        
        .instagram {

            i {
                padding: 9px 10px;
                background-color: #ffffff14;
                color: #fff;
                border-radius: 50%;
            }

            &:hover i {
                color: #C32AA3;
                background-color: #fff;
                transform: rotate(360deg);
                @include transition(all, 0.4s);
            }
        }
        
        .google-plus {
            
            i {
                padding: 9px 7px;
                background-color: #ffffff14;
                color: #fff;
                border-radius: 50%;
            }

            &:hover i {
                color: #dd4b39;
                background-color: #fff;
                transform: rotate(360deg);
                @include transition(all, 0.4s);
            }
        }
    }

    .copyright {
        float: left;
        padding-top: 3px;
        color: #ddd;
        margin-left: 5px;
        font-size: 0.9em;
    }
}
  
    
  
@media (max-width: 768px) {
    .footer-col-3 {
        img {
            width: 90px;
            height: 55px;
        }

        li {
            padding: 0;
        }
    }
}
  
@media (min-width: 769px) {

}
  
@media (max-width: 1024px) {

    .footer-col-3 a, 
    .blockquote {
      font-size: 1rem;
    }
}
  
@media (max-width: 425px) {

    .social-media span, 
    .copyright {
      display: none;
    }

    .social-media {
      text-align: center;
    }
}