// Bootstrap
$navbar-light-active-color:         #29357f !default;
$navbar-light-color:                #8ec63f !default;
$navbar-light-hover-color:          #29357f !default;
$navbar-light-active-color:         #29357f !default;
$navbar-light-toggler-border-color: #29357f !default;

$custom-dropdown-link-color:               #8ec63f !default;
$custom-dropdown-link-hover-color:         #fff !default;
$custom-dropdown-link-hover-bg:            lighten(#29357f, 25%) !default;

/*
 * External fonts
 */

@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

// Typography
$font-family-sans-serif: sans-serif;
$font-arabic-headings: 'Droid Arabic Kufi', serif;
$font-arabic-normal: 'Droid Arabic Naskh', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #627179;

// Inputs
$input-border-color: lighten($text-color, 40%);
$input-placeholder-color: lighten($text-color, 30%);



// Materia Variables

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #bbb !default;
$gray-600: #666 !default;
$gray-700: #444 !default;
$gray-800: #222 !default;
$gray-900: #212121 !default;
$black:    #000 !default;

$blue:    #2196F3 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #e51c23 !default;
$orange:  #fd7e14 !default;
$yellow:  #ff9800 !default;
$green:   #4CAF50 !default;
$teal:    #20c997 !default;
$cyan:    #9C27B0 !default;

$primary:       #4285F4 !default;
$secondary:     #aa66cc !default;
$info:          #33b5e5 !default;
$success:       #00C851 !default;
$warning:       #ffbb33 !default;
$danger:        #ff4444 !default;
$light:         $white !default;
$dark:          #212121 !default;

// Body

$body-color:    $gray-700 !default;

// Fonts

$font-family-sans-serif: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

$font-size-base: 0.8125rem !default;

$font-weight-base: 400 !default;

// Buttons

$input-btn-padding-y:       1rem !default;
$input-btn-padding-x:       1rem !default;

// Forms

$input-bg:                       transparent !default;
$input-disabled-bg:              transparent !default;

$input-color:                    $gray-600 !default;
$input-border-color:             transparent !default;

$input-border-radius:            0 !default;
$input-border-radius-lg:         0 !default;
$input-border-radius-sm:         0 !default;

$input-placeholder-color:        rgba(0,0,0,0.4) !default;

$input-group-addon-bg:           transparent !default;

// Navs

$nav-link-disabled-color:       $gray-500 !default;

$nav-tabs-border-color:                       transparent !default;

// Navbar

$navbar-padding-y:                  1rem !default;

$navbar-dark-color:                 rgba($white,.75) !default;
$navbar-dark-hover-color:           $white !default;

// Cards

$card-border-width:                 0;
$card-border-color:                 transparent;

// Tooltips

$tooltip-bg:                        $gray-700 !default;

// Modals

$modal-content-border-color:        transparent !default;

// Progress bars

$progress-height:               6px !default;
$progress-border-radius:        0 !default;

// Close

$close-font-size:             2.125rem !default;
$close-font-weight:           300 !default;


